body{
	background-color: #00ccff;  /*labny*/
}
header{
	background-image: url("image.png");
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 18%;
	width: 100%;
}
header #logo{
	position: absolute;
	top: 32%;
	left: 3.6%;
	width: 115px;
	height: 60px;
	border: 1px solid transparent;
	border-radius: 25px;
}
#h1S{
	font-family: cursive;
	font-weight: bold;
	position: absolute;
  font-size: 32px;
	top: 14%;
	left: 33.7%;
	color: #ff0066; /*foshia*/
}
header #bkbtn{
	position: absolute;
	top: 38%;
	right: 12%;
	font-family: cursive;
	color: #0099cc;  /*blue*/
	background-color: #ffcc00;  /*orange*/
	text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
	height: 35%;
	width: 5%;
}
.schedsEdit{
	font-size: 14px;
	font-family: cursive;
	text-align: center;
	position: absolute;
	top: 65%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	border-radius: 40px;
	background-color: #99ff99;  /*bestage*/
	width: auto;
	height: auto;
	opacity: 0.95;
	padding: 20px;
}
#scTable, th, td{
	border: 2px solid #003366; /*ko7ly*/
	border-radius: 5px;
	width: auto;
	text-align: center;
}
#createTable{
	font-size: 14px;
	font-family: cursive;
	/*text-align: center;*/
	position: absolute;
	top: 170%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	border-radius: 40px;
	background-color: #99ff99;  /*bestage*/
	width: auto;
	height: auto;
	opacity: 0.95;
	padding: 20px;
}
#idBox{
	width: 30px;
}
