#EditTeacher{
	font-family: cursive;
	border: 1px solid transparent;
	border-radius: 40px;
	background-color: #99ff99;  /*bestage*/
	position: absolute;
	top: 20%;
	left: 9%;
	width: 70%;
	height: auto;
	margin-right: -50%;
	opacity: 0.95;
	padding: 20px;
}
#h1te, #h1A{
	font-family: cursive;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: -2%;
	left: 40%;
  	color: #ff0066; /*foshia*/
}
#boxes{
	border: 1px solid transparent;
  border-radius: 5px;
	z-index:6;
}
#h1A{
	font-size: 31px;
	top: 19%;
	left: 17.5%;
}
#h11{
  font-family: cursive;
}
#accBTN, #refBTN, #penBTN, #print{
	position: absolute;
	bottom: 2%;
	left: 45%;
	margin-right: -50%;
  	transform: translate(-50%, -50%);
}
#refBTN{
	left: 60%;
}
#penBTN{
	left: 75%;
}
#print{
	left: 85%;
}
.editEvents{
	font-family: cursive;
	border: 1px solid transparent;
	border-radius: 40px;
	background-color: #99ff99;  /*bestage*/
	position: absolute;
	top: 20%;
	width: 70%;
	height: auto;
	left: 15%;
	/*margin-right: -50%;*/
	/*transform: translate(-50%, -50%);*/
	padding: 20px;
}
#A_E{
	font-family: cursive;
	font-size: 20px;
}